# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/dist

# testing
/coverage

# production


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__

# Flask
flask-backend/flask
flask-backend/__pycache__
*model.h5
flask-backend/app/endpoints/**/tmp
flask-backend/build_script/packaged_backend