

.insect_type .circlier_number {
    position: relative;
    left: -10%;
    top: 5px;
}

.insect_type {
    width: 33vw;
    text-align: center;
}

.connector {
    position: absolute;
    width: 10px;
    height: 60px;
    background-color: #FC7F40;
    left: 13.7vw;
}

