.insect_type .circlier_number {
}

.insect_type {
    width: 33vw;
    text-align: center;
}

.connector {
    position: relative;
    width: 10px;
    height: 60px;
    background-color: #FC7F40;
}

.circle {
    grid-area: circle;
}

.insect_input {
    grid-area: insect_input;
}

.insect_grid {
    display: grid; 

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 0px;
    height: 100%;

    margin: auto;
}

.grid_type {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
    
    margin: auto;
}

.grid_circle {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

.grid_connector {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;

    margin: auto;
}