.panel {
  background-color: #f8f8f8;
}

.style_margin {
  margin-top: 180px;
}

.style_home {
  z-index: 999;
}

.back {
  z-index: 1;
}

.button_text {
  font: normal normal 300 18px/29px Mitr;
  letter-spacing: 0.9px;
}
