.panel {
  background-color: #f4f4f4;
}

.style_margin {
  margin-top: 180px;
}

.style_home {
  z-index: 999;
}

.back {
  z-index: 1;
}

.button_text {
  font: normal normal 300 18px/29px Mitr;
  letter-spacing: 0.9px;
}

.transition {
  animation-name: results_transition;
  animation-duration: 1s; 
}

@keyframes results_transition {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}