.panel {
  background-color: #f4f4f4;
}

.style_margin {
  margin-top: 180px;
}

.style_home {
  z-index: 999;
}

.back {
  z-index: 1;
}

.button_text {
  font: normal normal 300 18px/29px Mitr;
  letter-spacing: 0.9px;
}

.transition {
  animation-name: results_transition;
  animation-duration: 1s; 
}

@keyframes results_transition {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.company_logo {
  margin: auto;
  width:  min(200px, 12vw);
  position: relative;
  bottom: 10px;
}

.input_image {
  height: auto;
  max-height: 10.5vw;
  min-height: 140px;
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 2vw;
  min-width: 100px;
}

.input_img_container {
  height: max(9vw, 100px);
  margin: auto;
}

.input_image_header {
  padding-top: 10px;
  font-size: max(1.4vw, 14px);
}

.predictions_font {
  font-size: max(1.4vw, 14px);
}

.input_img {
  flex-shrink: 0;
  height: max(9vw, 100px);
}

.zindex {
  position: relative;
  z-index: 100;
}

.popup_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(128, 128, 128, 0.3); /* Add a semi-transparent grey background */
  backdrop-filter: blur(7px); /* Apply a blur effect to the background */
  z-index: 100;
}

.popup_content {
  width: 35%;
  height: 35%;
  background-color: white;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  z-index: 10;
  opacity: 1;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  
}

.popup_content button {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 9vw;
  min-width: 90px;
  height: 50px;
  border-radius: 2rem;
  font-size: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup_content button:hover {
  box-shadow: none;
}

.popup_content p {
  font-size: max(1.4vw, 18px);
  color: #818181;
  position: relative;
  bottom: 20px;
  padding-bottom: 15px;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.go_back {
  background-color: white;
  color: #A8A8A8;
  /* border: 1px #A8A8A8 solid; */
}

.go_back:hover {
  border: 1px #A8A8A8 solid;
}

.continue {
  color: white;
  background: linear-gradient(
    to right,
    rgba(251, 194, 41, 1) 50%, /* Start with the first color at 50% */
    rgba(253, 131, 62, 1) 100% /* End with the second color at 100% */
  );
}

.hover-btn:hover {
  opacity: 0.5;
  animation-name: hover_trans;
  animation-duration: 0.4s;
}

.hover-btn {
  animation-name: trans;
  animation-duration: 0.4s;
}

@keyframes trans {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes hover_trans {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.responsive-width {
  width: 67%;
}

.responsive-width-sidebar {
  width: 33%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.responsive-visible {
  display: none;
}

.responsive_home_icon {
  margin: 1.25rem; 
  text-align: center;
}

.image_select_dropdown {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: max(1.8vw, 12px);
}

.responsive-card-height {
  height: 60%;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .responsive-hide {
    display: none;
  }

  .responsive-card-height {
    height: 50%;
    gap: 0.75rem;
  }

  .responsive-visible {
    display: block;
  }

  .responsive-logo {
    position: absolute;
    top: 10%;
    padding: 7px;
    margin: auto;
  }

  .responsive-width {
    width: 100%;
  }

  .responsive-width-sidebar {
    width: 10%;
  }

  .responsive_home_icon {
    position: relative;
    top: 7vw;
    width: 40%;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .responsive_position {
    position: relative;
    bottom: 200px;
  }

  .popup_content p {
    font-size: max(2vw, 13px);
    padding-bottom: 0px;

  }

  .popup_content button {
    font-size: max(2vw, 13px);
    margin-bottom: 2vw;
    height: max(5vw, 30px);

  }
}

