.circlier_number {
    background-color: #FC7F40;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 18px 0;
    font-size: 25px;
    font-family: var(--font_family);
    color: white;
}

.image_upload .circlier_number {
    position: relative;
    left: -7.5%;
}

.image_upload {
    text-align: center;
    padding-top: 50px;
}

/* .image_upload .circlier_number {
    height: 40px;
    width: 40px;
    font-size: 15px;
    padding: 13px 0;
} */
