.frame {
    background-color: #F8F8F8;
    width: 47%;
    height: 95vh;
    position: absolute;
    left: 50%;
    bottom: 0%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.frame h1 {
    color: #FBA035;
    font-family: var(--font_family);
    text-align: left;
    position: relative;
    top: 8%;
    font-size: calc(21px + 1.2vw);
    width: 43vw;
    padding-left: 8vw;
}

.data_inputs {
    position: relative;
    bottom: 10px;
}

@media only screen and (max-width: 990px) {
    .frame {
        background-color: #F8F8F8;
        width: 100%;
        position: relative;
        left: 0%;
        bottom: 0%;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }

    .frame h1 {
        color: #FBA035;
        font-family: var(--font_family);
        position: relative;
        top: 5%;
        font-size: calc(15px + 2vw);
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }

    .data_inputs {
        position: relative;
        left: calc(10% + 15vw);
    }
}
